$backgroundMenu: hsl(217, 28%, 15%);
$backgroundMain: hsl(218, 28%, 13%);
$backgroundFooter: hsl(216, 53%, 9%);
$backgroundCard: hsl(219, 30%, 18%);

$color1: hsl(0, 0%, 100%);
$color2: hsl(176, 68%, 64%);
$color3: hsl(198, 60%, 50%);
$color4: hsl(0, 100%, 63%);